@model IEnumerable<ScoreBoardApp.Models.Fixture>

<h2>Table Tennis Fixtures</h2>


@foreach (var item in Model)
{
    <table class="table" border="1" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;background-color:whitesmoke">
        <tr>

            <td rowspan="3" align="center">
                <br>
                <br />
                @Html.DisplayFor(modelItem => item.gameType)
                <br>
            </td>
            <td align="left">@Html.DisplayFor(modelItem => item.tm1pl1)</td>
            <td align="right">@Html.DisplayFor(modelItem => item.tm2pl1)</td>
            <td rowspan="3" align="center">
                <br>
                Date: @Html.DisplayFor(modelItem => item.date)
                <br>
                Time: @Html.DisplayFor(modelItem => item.time)
                <br>
                Venue: @Html.DisplayFor(modelItem => item.venue)
            </td>

        </tr>
        <tr>
            <td colspan="2" align="center" style="font-size:larger;font-weight:700">
                <i style="color:darkblue"><font size="6">  @Html.DisplayFor(modelItem => item.team1) VS @Html.DisplayFor(modelItem => item.team2)</font></i>
            </td>
        </tr>
        <tr>
            <td align="left">@Html.DisplayFor(modelItem => item.tm1pl2)</td>
            <td align="right">@Html.DisplayFor(modelItem => item.tm2pl2)</td>
        </tr>
    </table>

}



